/*This page  acts as the main CSS for the website, including the general styling and also styling for specific element on each page using element ids.*/

/*All basic elements*/
body{
	padding-left:20px;
	padding-right:20px;
	font-size: 15px;
}

/*As wrapper width changes due to resizing pages, the contents of the page will adjust as the wrapper element encompassed everything*/
.wrapper{
	width:100%;
}

h1{
  font-family: "Avant Garde","Avantgarde","Century Gothic";
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  color: black; 
  text-decoration:none;
  margin-bottom:0;
}


h2,h3,h4,p,a{
  font-family: "Avant Garde","Avantgarde","Century Gothic";
  font-style: normal;
  font-weight: 400;
}

/*Styling for header - removing the underline of the title Firimu as it is a link to the main home page */

#head-container a {
	text-decoration: none;
	
}

/*Setting the content container to 100% of the page width*/
#content-container {
  max-width: 100%;
}

/* Styling for navigation bar - stretch across full page width, remove link underline and purple colour, add padding*/
#main-nav{
	width:100%;
	float:left;
	padding-bottom:20px;
}

#main-nav ul{
	padding-left: 0px;
}

#main-nav ul li{
	float:left;
	list-style: none;
	
}

#main-nav ul li a{
	color:black;
	font-size:18px;
	padding-right:20px;
	padding-left:0px;
	text-decoration:none; 
}

/* style social media buttons and make them float on right side of the page and stay in a static position*/
#social-buttons {
  position: fixed;
  top: 30vh;
  right: 0;
  padding: 0;
  background-color: transparent;
}

#social-buttons a {
  display: block;
  margin: 0.5em;
  float:right;
	
}

#social-buttons img {
  height: 25px;
  width: 25px;
}

/* styling for all button and input*/
button, select, input{
	font-family: "Avant Garde","Avantgarde","Century Gothic";
 	font-style: normal;
  	font-weight: 400;
	border-style:solid;
	border-color: black;
	background-color: white;
	
}

/*Page specific styling*/

/*------FIRIMU BOARD------*/

/*Sets the board container to the total width of the page and the imgs in the carousel to 90% of the width - The board container being full width mean't that as the wrapper adjusts it would adjust too*/
 .board-container{
	width:100%;
	
}

img.imgCarousel{
	width:90%;
}

/*Styling for the qoutes above the board*/
#quotes-board p{
	font-size: 50px;
	font-style: italic;
	width:90%;
}

/*--------EXPLORE PAGE-------*/

/*Set the section including the grid to 100% of the page width*/
#explore-section{
	width:100%;
}

/* Defines the grid structure defined in the HTML - the number of rows and coloums and the width or grid compared to page width. Defines which img popluates which grid area.    */
#explore-gallery{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:auto;
	grid-gap:10px;
	grid-template-areas:
	"img1 img2"
	"img3 img4"
	"img5 img6"
	"img7 img8"
	"img9 img10";
	width:90%;
}

/* Styles the grid areas defined in the HTML*/

#explore-gallery .gallery-image{
	width:100%;
	height:400px;
	background-repeat:no-repeat;
	background-size:cover;
	cursor:pointer;
}

/* Sets the background images in each area to include img at specific locations, therefore pollulating the grid and we can see the images show up in the structure*/

#explore-gallery .img1{
	grid-area: img1;
	background-image: url(../Explore-Images/CNV00017.JPG);
}

#explore-gallery .img2{
	grid-area: img2;
	background-image: url(../Explore-Images/CNV00020.JPG);
}

#explore-gallery .img3{
	grid-area: img3;
	background-image: url(../Explore-Images/img013.jpg);
}

#explore-gallery .img4{
	grid-area: img4;
	background-image: url(../Explore-Images/CNV00022.JPG);
}

#explore-gallery .img5{
	grid-area: img5;
	background-image: url(../Explore-Images/img021.jpg);
}

#explore-gallery .img6{
	grid-area: img6;
	background-image: url(../Explore-Images/CNV00054.JPG);
}

#explore-gallery .img7{
	grid-area: img7;
	background-image: url(../Explore-Images/CNV00069.JPG);
}

#explore-gallery .img8{
	grid-area: img8;
	background-image: url(../Explore-Images/img028.jpg);
}

#explore-gallery .img9{
	grid-area: img9;
	background-image: url(../Explore-Images/img058.jpg);
}

#explore-gallery .img10{
	grid-area: img10;
	background-image: url(../Explore-Images/img112.jpg);
}

/*Styling for the hover annimation that appears on top of the images - this is top layer*/
.gallery-image div{
	width:100%;
	height:50%;
	background-color: black;
	opacity:0;
	display:flex;
	justify-content: center;
	align-items: center;
	
}

.gallery-image a{
	font-family: sans-serif;
	font-size:20px;
	color: white;
	text-decoration:none 
	
}

/*This allows a smooth transition for the hover by setting transition to occur 100 milli seconds in and out upon hover*/
.gallery-image div:hover {
	opacity:0.8;
	transition: ease all 100ms;
}

/*-----SUBMISIONS PAGE-------*/

/*Styling for links in paragraph about submissions and the form*/
a{
	text-decoration: none;
	color:black;
}

form{
	width: 100%;
	font-family: "Avant Garde","Avantgarde","Century Gothic";
	font-style: normal;
	width:80%;
	text-align;
	
}

form label{
	
}

form input{
	width:50%;
	outline:none;
	padding: 10px;
	font: inherit;
	margin-bottom: 15px;
	
}

/*Styling for specific data inputs*/

form select{ 
	width:20%;
	outline:none;
	padding: 10px 10px;
}

form input[type =submit]{
	padding:10px;
	width:auto;
}

form input[type =file]{
	border:none;
	margin-bottom: 15px;
}

form input[type =option]{
	padding:10px;
	width:auto;
	margin-bottom:20px;
}


/*------MARKETPLACE PAG-----*/

/* Styles galleries for camera advert sections, separating images using padding and aligns*/
.gallery-cam img {
  display: inline-block;
  height: 300px;
  width: 350px;
  min-width: 100px;
  padding: 20px
}

.gallery-cam{
  text-align: center;
  display: flex;
  padding: 5px;
}

/*Styles a link which opens email link to look like a button*/
.button-buy{
	padding:10px;
	border-color:black;
	border: solid;
}

/*----FILM DEVELOPING PAGE-----*/

/*Styles text on developing page to take 90% of page width*/
#developing-info
{
	width:90%;
}

/*Styles youtube video links*/

#online-vids{
	width:100%;
	display:block;
}

#colour-vid, #blackwhite-vid{
	padding-right: 20px;
	padding-bottom: 20px;
}

iframe{
	border:none;
}
/*-----REPORT PAGE--*/

@media only screen and (min-width: 768px){
	.wrapper{
}
	
	h1{
  padding:20px 0px 0px;
}


h2,h3,h4,p,a{
 padding:20px 0px 0px;
}

}

